<!--#layout("/common/layout.html",{"title":"代码生成器"}){ -->

<div class="layui-btn-group">
    <w:accessButton label="预览Java" action="java"></w:accessButton>
    <w:accessButton label="预览SQL" action="sql"></w:accessButton>
    <w:accessButton label="预览HTML" action="html"></w:accessButton>
    <w:accessButton label="立即生成" action="gen" type="danger"></w:accessButton>
    <w:accessButton label="取消" action="cancel"></w:accessButton>
    <w:accessButton label="缓存数据" action="cache"></w:accessButton>
</div>

<form class="layui-form" id="updateForm">

    <fieldset class="layui-elem-field layui-field-title"
              style="margin-top: 30px;">
        <legend>常用字段</legend>
    </fieldset>

    <div class="layui-row">

        <div class="layui-col-md2">
            <w:inputText label="主键" name="entity.idAttribute.name" value="${entity.idAttribute.name}"/>
        </div>
        <div class="layui-col-md2">
            <w:inputText label="默认排序" name="entity.orderAttribute.name" value="${entity.idAttribute.name}"/>
        </div>


    </div>

    <fieldset class="layui-elem-field layui-field-title"
              style="margin-top: 30px;">
        <legend>配置基本信息</legend>
    </fieldset>
    <div class="layui-row">

        <div class="layui-col-md4">
            <w:inputText label="表名" name="entity.tableName" value="${entity.tableName}" readonly="true" class="layui-input-readonly"/>
        </div>
        <div class="layui-col-md4">
            <w:inputText label="类名" name="entity.name" value="${entity.name}"/>
        </div>
        <div class="layui-col-md4">
            <w:inputText label="系统包名" name="basePackage" value="com.w.demo"/>
        </div>

    </div>

    <div class="layui-row">

        <div class="layui-col-md4">
            <w:inputText label="变量名" name="entity.code" value="${entity.code}"/>
        </div>
        <div class="layui-col-md4">
            <w:inputText label="请求路径前缀" name="urlBase" value="demo"/>
        </div>
        <div class="layui-col-md4">
            <w:inputText label="模块" name="entity.system" id="module" value="console"/>
        </div>

    </div>

    <fieldset class="layui-elem-field layui-field-title"
              style="margin-top: 30px;">
        <legend>可选配置</legend>
    </fieldset>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name=""
                           lay-skin="primary" value="true" title="Java-Controller" checked/>
                </div>
            </div>


            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name=""
                           lay-skin="primary" value="true" title="Java-Dao" checked/>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name=""
                           lay-skin="primary" value="true" title="Java-Model" checked/>

                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name=""
                           lay-skin="primary" value="true" title="Html-Index" checked/>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name=""
                           lay-skin="primary" value="true" title="Html-Edit" checked/>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name=""
                           lay-skin="primary" value="true" title="Md-SQL" checked/>
                </div>
            </div>

        </div>

    </div>

    <div class="layui-row">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name="entity.includeExcel"
                           lay-skin="primary" value="true" title="导入导出"/>
                </div>
            </div>


            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name="entity.attachment"
                           lay-skin="primary" value="true" title="关联附件"/>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name="entity.autoAddFunction"
                           lay-skin="primary" value="true" title=" 自动配置功能点"/>

                </div>
                <div class="layui-input-inline">
                    <input type="checkbox"
                           name="entity.autoAddMenu"
                           lay-skin="primary" value="true" title="添加到菜单"/>

                </div>
            </div>
        </div>

    </div>

    <fieldset class="layui-elem-field layui-field-title"
              style="margin-top: 30px;">
        <legend>字段信息（重要）</legend>
    </fieldset>

    <table class="layui-table">
        <thead>
            <tr>
                <th>变量名</th>
                <th>表单名</th>
                <th>表单显示</th>
                <th>列表显示</th>
                <th>是否查询</th>
                <th>表单控件</th>
                <th>字典类型(可选)</th>
            </tr>
        </thead>
        <tbody>
        <!--#
         var attrs = entity.list;
        for(attr in attrs){
         -->
        <tr>
            <td>
                <input type="text"
                       name="entity.list[${attrLP.index-1}].name" readonly
                       value="${attr.name}" class="layui-input layui-input-readonly"/>
            </td>
            <td>
                <input type="text"
                       name="entity.list[${attrLP.index-1}].displayName"
                       value="${attr.displayName}" class="layui-input">
            </td>
            <td>
                <input type="checkbox"
                       name="entity.list[${attrLP.index-1}].showInEdit"
                       lay-skin="primary" value="true" checked>
            </td>
            <td>
                <input type="checkbox"
                       name="entity.list[${attrLP.index-1}].showInTable"
                       lay-skin="primary" value="true" checked>
            </td>
            <td>
                <input type="checkbox"
                       name="entity.list[${attrLP.index-1}].showInQuery"
                       lay-skin="primary" value="true" checked>
            </td>
            <td>
                <select name="entity.list[${attrLP.index-1}].formFieldType">
                    <option value="hidden">隐藏域</option>
                    <option value="text" selected>文本</option>
                    <option value="date">日期</option>
                    <option value="datetime">日期时间</option>
                    <option value="uploadImage">图片上传</option>
                    <option value="uploadFile">文件上传</option>
                    <option value="select">下拉选择</option>
                </select>
            </td>
            <td>
                <input type="text" name="entity.list[${attrLP.index-1}].dictType" value=""
                       class="layui-input">
            </td>
        </tr>
        <!--# } -->
        </tbody>
    </table>


</form>

<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;



        var toolbar = {
            getFormData: function () {
                var form = $('#updateForm');
                var formPara = form.serializeJson();
                return formPara;
            },
            html: function () {
                common.post("${ctxPath}/core/gen/html.json", toolbar.getFormData(), function (data) {
                    openCode(data)
                });
            },
            js: function () {
                common.post("${ctxPath}/core/gen/js.json", toolbar.getFormData(), function (data) {
                    openCode(data)
                });
            },
            java: function () {
                common.post("${ctxPath}/core/gen/java.json", toolbar.getFormData(), function (data) {
                    openCode(data)
                });
            },
            sql: function () { //获取选中数目
                common.post("${ctxPath}/core/gen/sql.json", toolbar.getFormData(), function (data) {
                    openCode(data)
                });
            },
            gen: function () {
                common.post("/core/gen/getPath.json", {
                    module: $('#module').val()
                }, function (path) {
                    common.prompt("代码保存路径?", path, function (newPath) {
                        toolbar.cache();
                        var url = "/core/gen/gen.json";
                        var formPara = toolbar.getFormData();
                        formPara.path = newPath;
                        common.post(url, formPara, function () {
                            common.success("代码生成成功，请刷新工程");
                        });
                    })
                });
            },
            cancel: function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            },
            // 缓存部分数据
            cache: function () {
                layui.data('gen', {
                    key: 'basePackage'
                    ,value: $('input[name="basePackage"]').val()
                });
                layui.data('gen', {
                    key: 'urlBase'
                    ,value: $('input[name="urlBase"]').val()
                });
                layui.data('gen', {
                    key: 'system'
                    ,value: $('input[name="entity.system"]').val()
                });
            },
            // 展示缓存数据
            showCache: function () {
                var genCache = layui.data('gen');
                if (genCache !== undefined) {
                    $('input[name="basePackage"]').val(genCache.basePackage);
                    $('input[name="urlBase"]').val(genCache.urlBase);
                    $('input[name="entity.system"]').val(genCache.system)
                }
            }

        };

        var openCode = function (data) {
            var tab = [];
            for (var key in data) {
                var title = key;
                var content = formatCode(key, data[key]);
                tab.push({"title": title, "content": content});
            }
            var index = parent.layer.tab({
                area: ['600px', '500px'],
                tab: tab,
                success: function (layero, index) {
                    layui.use('code', function () { //加载code模块
                        layui.code({
                            about: false
                        }); //引用code方法
                    });
                }
            });
            parent.layer.full(index);
        },
        formatCode = function (name, content) {
            if (name.indexOf(".html")) {
                content = $('<div/>').text(content).html();
            }
            content = "<pre class='layui-code'>" + content + "<pre>";
            return content;
        };

        $('.ext-toolbar').on('click', function () {
            var type = $(this).data('type');
            toolbar[type] ? toolbar[type].call(this) : '';
        });

        // 展示缓存值
        toolbar.showCache();
    });

</script>



<!--#}-->





