<!--#layout("/common/layout.html",{"title":"代码生成器"}){ -->

<form class="layui-form toolbar" id="tableToolBar" action="javascript:;">
    <div class="layui-form-item">
        <w:accessButton label="编辑" action="edit"></w:accessButton>
        <w:accessButton label="刷新" action="refresh"></w:accessButton>
    </div>
</form>

<table class="layui-table" id="codeTable" lay-filter="codeTable"></table>


<script>
    layui.use(['table'], function () {
        var $ = layui.jquery;
        var table = layui.table

        var codeTable = table.render({
            elem: '#codeTable',
            method: 'post',
            url: '${ctxPath}/core/gen/table.json' //数据接口
            , page: false
            , limit: 10000,
            cols: [[
                {
                    type: 'checkbox',
                    fixed: 'left',
                },
                {
                    field: 'tableName',
                    title: '表名',
                    sort: true
                },
                {
                    field: 'comment',
                    title: '注释',
                    sort: true
                }
            ]]

        });


        var toolbar = {
            edit: function () { //获取选中数目
                var data = common.getOneFromTable(table, "codeTable");
                if (data == null) {
                    return;
                }
                console.log(data)
                var url = "${ctxPath}/core/gen/tableDetail?table=" + data.tableName;
                common.dialog(url, "代码生成>" + data.tableName + ">代码生成");

            },
            refresh: function () {
                codeTable.reload();
            }


        };
        $('.ext-toolbar').on('click', function () {
            var type = $(this).data('type');
            toolbar[type] ? toolbar[type].call(this) : '';
        });
    });

</script>

<!--#}-->



<!--<div class="layui-btn-group">-->
<!--    <button id="table-button-edit" class="layui-btn layui-btn-primary  ext-toolbar " data-type="edit">编辑</button>-->
<!--    <button id="table-button-refresh" class="layui-btn layui-btn-primary  ext-toolbar " data-type="refresh">刷新</button>-->
<!--</div>-->



